{
  "$schema": "https://swc.rs/schema.json",
  "exclude": ["node_modules"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
    },
    "target": "esnext",
    "baseUrl": "src",
  },
  "module": {
    "type": "es6"
  }
}
